<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>

<ul class="users">
    <%=render @users%>  
</ul>
<%= will_paginate %>

<br>
<%=link_to "Create Micropost", new_micropost_path%>
<br>
<%=link_to "All Microposts", microposts_path%>
<br>

